.main {
    padding-left: 5px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

ul {
    width: 500px;
    background-color: #e5c0a0;
    border: 1px solid black;
    margin-right: 10px;
}

.links {
    background-color: #f8d9bf;
    height: 90px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}

a {
    margin-left: 5px;
    text-decoration: none;
}

img {
    height: 500px;
    width: 350px;
}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.forms_block {
    display: flex;
    justify-content: space-around;
}

#image {
    display: none;
}