{% load static %}
{% block home %}

{% include 'inc/_inc.html' %}

{% block inc %}
{% endblock %}

<body>
    <div class="home_form">
        <h2>Registration</h2>
        
        <form action="" method="POST">
            {% csrf_token %}
            {{ user_reg }}

            <button class="btn btn-dark" type="submit" name="registration" data-bs-toggle="modal" data-bs-target="#myModal">Registration</button> 
        </form>
        {% if messages %}
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Registration</h4>
                    </div>
                    <div class="modal-body">
                            <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <hr>
        <h2>Authorization</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ user_auth }}

            <button class="btn btn-dark" type="submit" name="authorization">Authorization</button> 
        </form>
    </div>


</body>
</html>
{% endblock %}