{% load static %}
{% block show_books %}

{% include 'inc/_inc.html' %}

{% block inc %}
{% endblock %}

<body>
	<div class="main">
		<div class="filter">
			<form action="" method="GET">
				{{ books_filter.form.as_p }}
				
				<button class="btn btn-dark" type="submit">Filter</button> 
			</form>
		</div>
		<div class="show_book">
			{% for book in books_filter.qs %}
				<div class="card" style="width:400px">
					<img class="card-img-top" src="media/{{book.image}}" alt="Card image">
					<div class="card-body">
						<h4 class="card-title">{{ book.name}}</h4>
						<p class="card-text"> {{ book.description }} </p>
						<p class="card-text"> Write date: {{ book.write_date }} </p>
						<p class="card-text"> Author: {{ book.author_relative }} </p>
						<a href="#" class="btn btn-primary">See Book</a>
					</div>
				</div>
			{% empty %}
				<h4>empty list</h4>
			{% endfor %}
		</div>
	</div>
</body>
</html>
{% endblock %}